* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr 50svh;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 225, 0);
  padding: 24px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #efefef;
  font-weight: bold;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 225, 0);
  border-radius: 50px;

  box-shadow: 0 6px 0 rgb(200, 180, 0);
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  
}

body.active {
  background: white;
}

body.active button {
  background: rgb(226, 226, 226);
}

pre {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  padding: 12px;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 12px;
}
